<h3 class="etched">Selected Result</h2>
{{#if num}}
<ul class="propertyList">
	<li><span class="label">{{#if isCandidate}}Candidate{{else}}Result{{/if}}:</span> <span class="value">{{num}}/{{resultCount}}</span></li>
	{{#if distance}}
	<li><span class="label">Distance:</span> <span class="value">{{distance}}m</span></li>
	{{/if}}
	<li><span class="label">Confidence:</span> <span class="value">{{confidence}}</span></li>
	<li><span class="label">P_mobile:</span> <span class="value">{{probMobility}}</span></li>
	<li><span class="label">P_indoor:</span> <span class="value">{{probIndoor}}</span></li>
	{{#if candidateCount}}
	<li><span class="label">Candidates:</span> <span class="value">{{candidateCount}}</span></li>
	{{/if}}
</ul>
{{/if}}
