				<tbody>
				{{#each tablerows}}
					<tr>
						<td class="numeric">{{num}}</td>
						<td><a class="selectItem" href="">{{msgId}}</a></td>
						<td class="numeric">{{percent confidence}}</td>
						<td class="numeric">{{percent probMobility}}</td>
						<td class="numeric">{{percent probIndoor}}</td>
						<!-- <td class="numeric">{{meanSpeed}}</td> -->
					</tr>
				{{/each}}
				</tbody>