{{#if num}}
<h3 class="etched">Selected Result</h3>
<ul class="propertyList">
	<li><span class="label">Result:</span>&nbsp;<span class="value">{{num}}/{{resultCount}}</span>
		<button class="listAllResults translucent tiny symbolic"
				title="List all results">&equiv;</button>
		{{#if msgId}}&nbsp;<span class="label">Msg:</span>&nbsp;<span class="value">#{{msgId}}</span>{{/if}}
	</li>
{{#if position}}
	<li>
		<span class="label">Lat:</span>&nbsp;<span class="value">{{position.lat}}</span>
		<span class="label">Lon:</span>&nbsp;<span class="value">{{position.lon}}</span>
		{{#if edited}}
		<span class="label"> (Edited)</span>
		<button class="revert-position translucent tiny symbolic" title="Revert Position">&#8617;</button>
		{{/if}}
	</li>
{{/if}}
	{{#if timestamp}}
	<li><span class="label">Time:</span>&nbsp;<span class="value">{{formattime timestamp "ms"}}</span></li>
	{{/if}}
{{#unless isAccuracyResult}}
	<li><span class="label">Meas. Report:</span>&nbsp;<span class="value">{{yesno isMeasReport}}</span></li>
{{/unless}}
	{{#if primaryCellId}}
	<li><span class="label">Primary CI:</span>&nbsp;<span class="value">{{primaryCellId}}</span>
		<span class="label">RNC:</span>&nbsp;<span class="value">{{controllerId}}</span>
	</li>
	{{/if}}
	{{#if referenceCellId}}
	<li><span class="label">Refrnc. CI:</span>&nbsp;<span class="value">{{referenceCellId}}</span>
		<span class="label">RNC:</span>&nbsp;<span class="value">{{refControllerId}}</span>
	</li>
	{{/if}}
	{{#if distance}}
	<li><span class="label">Distance:</span>&nbsp;<span class="value">{{withUnit distance "m"}}</span></li>
	{{/if}}
	<li><span class="label">Confidence:</span>&nbsp;<span class="value">{{percent confidence}}</span></li>
	<li><span class="label">P_mobile:</span>&nbsp;<span class="value">{{percent probMobility}}</span></li>
	<li><span class="label">P_indoor:</span>&nbsp;<span class="value">{{percent probIndoor}}</span></li>
</ul>
{{/if}}
