				<tbody>
				{{#each tablerows}}
					<tr>
						<td><a class="selectSession" href="">{{sessionId}}</a></td>
						<td><span class="decimalAlign">{{resultCount}}</span></td>
						<td><span class="decimalAlign">{{percent confidence}}</span></td>
						<td><span class="decimalAlign">{{percent probMobility}}</span></td>
						<td><span class="decimalAlign">{{percent probIndoor}}</span></td>
						<td><span class="decimalAlign">{{distance}}</span></td>
						<td><span class="decimalAlign">{{#if duration}}{{formattime duration "ms" digits=1}}{{else}}&mdash;{{/if}}</span></td>
						<td><span class="decimalAlign">{{#if duration}}{{meanSpeed}}{{else}}&mdash;{{/if}}</span></td>
					</tr>
				{{/each}}
				</tbody>