<div class="veilBackground" />

<!-- the size is necessary to prevent blurry rendering in Chrome due to CSS centering -->
<section class="dialog centered" style="width: 80%; height: 80%;" >
	<div class="content flexColumn">
		<h3>{{title}}</h3>

		<div><!-- this div helps flexbox layout to position the scrollbox div -->

			<table class="striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Results</th>
						<th>Confidence</th>
						<th>Mobility Prob.</th>
						<th>Indoor Prob.</th>
						<th>Distance<span class="unit">[m]</span></th>
						<th>Duration<span class="unit">[s]</span></th>
						<th>Speed<span class="unit">[km/h]</span></th>
					</tr>
				</thead>
			</table>

		</div>
		<div class="scrollbox stretching">

			<table class="striped">
				<tbody>
				{{#each sessions}}
					<tr>
						<td>{{sessionId}}</td>
						<td class="numeric">{{resultCount}}</td>
						<td class="numeric">{{percent confidence}}</td>
						<td class="numeric">{{percent probMobility}}</td>
						<td class="numeric">{{percent probIndoor}}</td>
						<td class="numeric">{{distance}}</td>
						<td class="numeric">{{#if duration}}{{formattime duration "ms"}}{{else}}&mdash;{{/if}}</td>
						<td class="numeric">{{#if duration}}{{meanSpeed}}{{else}}&mdash;{{/if}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>

		</div>
	</div>

	<div class="toolbar">
		<button id="btnClose">Close</button>
	</div>
</section>
