				{{#each tablerows}}
					<tr{{#if selected}} class="highlighted"{{/if}}>
						<th scope="row"><a class="selectSession" href="" data-uid="{{id}}">{{sessionId}}</a></th>
						<td><span class="decimalAlign">{{resultCount}}</span></td>
						<td><span class="decimalAlign">{{percent confidence}}</span></td>
						<td><span class="decimalAlign">{{percent probMobility}}</span></td>
						<td><span class="decimalAlign">{{percent probIndoor}}</span></td>
						<td><span class="decimalAlign">{{distance}}</span></td>
						<td><span class="decimalAlign">{{#if duration}}{{formattime duration "ms" digits=1}}{{else}}&mdash;{{/if}}</span></td>
						<td><span class="decimalAlign">{{#if duration}}{{roundNumber meanSpeed digits=1}}{{else}}&mdash;{{/if}}</span></td>
					</tr>
				{{/each}}
