{{#if id}}
<h3 class="etched">Selected Site</h3>
<ul class="propertyList">
	<li><span class="label">Name:</span> <span class="value">{{id}}</span></li>
	{{#if technology}}
	<li><span class="label">Tech:</span> <span class="value">{{technology}}</span></li>
	{{/if}}
{{#if sectors}}
	<li><span class="label">Sectors:</span></li>
	{{#each sectors}}
	<li><span >{{id}}</span>
		<span class="value">(CI: {{cellIdentity}}, {{azimuth}}d)</span>
	</li>
	{{/each}}
{{/if}}
</ul>
{{/if}}
