{{#if id}}
<h3 class="etched">Selected Site <button class="translucent tiny symbolic unselect-site" title="Unselect">&#128683;</button></h3>
<ul class="propertyList">
	<li><span class="label">Name:</span>&nbsp;<span class="value">{{id}}</span></li>
	{{#if technology}}
	<li><span class="label">Tech:</span>&nbsp;<span class="value">{{technology}}</span></li>
	{{/if}}
{{#if sectors}}
	<li><span class="label">Sectors:</span></li>
	{{#each sectors}}
		<li class="sectoritem{{#if highlight}} highlighted{{/if}}"
			title="{{id}}{{#if uarfcn}}, f:{{uarfcn}}{{/if}}{{#if earfcn}}, f:{{earfcn}}{{/if}}{{#if netSegment}}, {{technologyterm technology 'netsegment'}}: {{netSegment}}{{/if}}{{#if isIndoor}}, Indoor{{/if}}" >
			<span>{{id}}</span>
			<span class="value">(CI:{{cellIdentity}}
								{{#if scramblingCode}}SC:{{scramblingCode}}{{/if}}
								{{#if bcch}}BCCH:{{bcch}}{{/if}}
								{{#if pci}}PCI:{{pci}}{{/if}}
								&#8599;{{withUnit azimuth "°"}} &#8738;{{withUnit beamwidth "°"}}{{#if height}} h:{{height}}{{/if}})</span>
			{{#if isIndoor}}<span class="value small"> Indoor</span>{{/if}}
			{{#if isSmall}}<span class="value small"> SmallCell</span>{{/if}}

			<span class="filterButtons">
			{{#if ../enableFilterPrimaryCells}}
				<button class="filterByElement translucent tiny symbolic"
						title="Filter only serving sector results"
						data-sector="{{id}}" data-ci="{{cellIdentity}}" data-netsegment="{{netSegment}}">&#8981;</button>
			{{/if}}
			{{#if ../enableFilterRefCells}}
				<button class="filterByRefcell translucent tiny symbolic"
						title="Filter only reference sector results"
						data-sector="{{id}}" data-ci="{{cellIdentity}}" data-netsegment="{{netSegment}}">&#8981;</button>
			{{/if}}
			</span>
		</li>
	{{/each}}
{{/if}}
</ul>
{{/if}}
