{{#if id}}
<h3 class="etched">Selected Site</h3>
<ul class="propertyList">
	<li><span class="label">Name:</span> <span class="value">{{id}}</span></li>
	{{#if technology}}
	<li><span class="label">Tech:</span> <span class="value">{{technology}}</span></li>
	{{/if}}
{{#if sectors}}
	<li><span class="label">Sectors:</span></li>
	{{#each sectors}}
		<li class="sectoritem{{#if highlight}} highlighted{{/if}}"
			title="{{id}}{{#if uarfcn}}, f:{{uarfcn}}{{/if}}{{#if earfcn}}, f:{{earfcn}}{{/if}}{{#if isIndoor}}, Indoor{{/if}}" >
			<span>{{id}}</span>
			<span class="value">(CI:{{cellIdentity}}
								{{#if scramblingCode}}SC:{{scramblingCode}}{{/if}}
								{{#if bcch}}BCCH:{{bcch}}{{/if}}
								{{#if pci}}PCI:{{pci}}{{/if}}
								&#8599;{{withUnit azimuth "°"}} &#8738;{{withUnit beamwidth "°"}})</span>
			<span class="value small">{{#if isIndoor}} Indoor{{/if}}</span>
			<span class="value small">{{#if isSmall}} SmallCell{{/if}}</span>
		{{#if ../enableFilter}}
			<button class="translucent tiny symbolic filter-by-element"
					title="Filter results served by sector"
					data-sector="{{id}}" data-ci="{{cellIdentity}}" data-netsegment="{{netSegment}}">&#8981;</button>
		{{/if}}
		</li>
	{{/each}}
{{/if}}
</ul>
{{/if}}
